html,
body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

#mainView {
  width: 100vw;
  height: 100dvh;

  background-color: rgba(45, 20, 95, 1);
}

#viewControls.touch {
  display: none;
}

#viewControls {
  position: fixed;
  top: 10px;

  height: fit-content;

  background-color: hsla(0, 0%, 100%, 0.5);

  font-size: 16px;
}

#viewControls ul {
  padding: 0.5em 2em;
}

#viewControls li {
  display: flex;
  justify-content: space-between;

  width: 15em;
}

#debug {
  position: fixed;
  right: 0;
  top: 10px;

  display: flex;

  height: fit-content;
  padding: 0.5em 1em;

  background-color: rgba(255, 255, 255, 0.5);

  font-size: 16px;
}
