:root {
  --b: #1B1C1Fff;
  --w: white;
  --t: #21d5e1;

  --1: #5603fc;
  --2: #C38A1Fff;
  --3: #872145ff;

  --border-color: var(--2);


  background-color: var(--b);
  color: var(--t);
}

.games {
  border: 1px solid var(--border-color);
  margin-left: 20px;
  margin-right: 40px;

}

.games__game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;

  &:not(:first-child) {
    border-top: 1px solid var(--border-color);
  }
}

.games__game-data {
  color: var(--w);
  background-color: var(--1);
  border-radius: 8px;
}
