:root {
  --b: #1B1C1Fff;
  --w: white;

  --1: #459DA3ff;
  --2: #5603fc;
  --2a: #7160CCff;
  --3: #C38A1Fff;
  --4: #872145ff;

  background-color: var(--b);
  color: var(--1);
}

.games {
  border: 1px solid var(--3);
  margin-left: 20px;
  margin-right: 40px;

}

.games__game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;

  &:not(:first-child) {
    border-top: 1px solid var(--3);
  }
}

.games__game-data {
  color: white;
  background-color: var(--2);
  border-radius: 8px;
}
