<script defer phx-track-static type="text/javascript" src={~p"/assets/js/game_socket.js"}></script>

<p>
  Game id: <%= @game_id %>
</p>
<p>
  Creator: <%= @creator %>
</p>
<p>
  Players:
  <span id="player_list">
    ...Loading
  </span>
</p>
<p>
  <%# TODO switch to button %>
  <a href={@current_path <> "?join=true"}>Join</a>
  <%# <button>Join</button> %>
</p>
path: <%= @current_path %>
