<div class="games__header">
  Games:
</div>

<div id="game-list" class="games">
  Loading...
</div>


<template id="game-template">
  <div class="games__game">
    <span>
      Game number: <span class="gameId"></span>
    </span>
    <span>
      Creator: <span class="gameCreator"></span>
    </span>
    <span>
      <button class="deleteGame">Delete</button>
    </span>
  </div>
</template>
