<div>
  <span class="align_right">
    <InkFlierWeb.LoginHTML.new user={@user} />
  </span>
</div>

<hr />

<%# <input id="player_id" type="text"> %>
<code>
  <%= inspect @conn %>
</code>


<style>
.align_right {
  position: relative;
  right: 0;
}
</style>
